{% extends "estoque/base.html" %}

{% load crispy_forms_tags %}

{% block title %} Login {% endblock title %}

{% block content %}
    <div class = "container" style = "margin: auto; text-align:center">
    <div class="jumbotron" style= "width:25rem; margin:auto; padding: 70px 0; height:-10rem; margin-top:80px">
        <div calss="card-body">
            <form method="POST">
                <!-- Método de segurança -->
                {% csrf_token %}

                <fieldset class="form-group" style="margin:auto;width: 20rem;">
                    <legend class="border-bottom mb-4" style = "font-weight:bolder">
                        Login
                    </legend>
                    {{ form|crispy }}
                </fieldset>

                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit" style = "margin:auto">
                        Entrar
                    </button>
                </div>

                <div class="border-top pt-3">
                    <small class="text-muted">
                        Ainda não tem uma conta? <a class="ml-2" href="{% url 'cadastrar' %}">Cadastre-se</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock content %}